@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

  <div class="nav bg-dark">
    <!-- Admin Name -->
    <div class="container-fluid d-flex justify-content-end justify-content-between w-100 mr-3 mt-2 ">
      <div class="d-flex flex-col ">
        <div style="width: 40px; height:40px;" class="ml-2 rounded-circle bg-white"></div>
        <a href="" class="mt-2 ml-2  anc">Raman Thakur(Korea)</a>
      </div>
      <div><a href="" class="anc">Logout </a></div>
    </div>
  </div>


  <!-- New Transaction -->
  <!-- form for Request model -->
  <p class="text-center mt-2"><Strong>New Amount Request</Strong></p>
  <form class="row g-3">

    <div class="modalcustom container-fluid w-75 text-black">

      <div class="d-flex flex-col mt-2">
        <label for="exchangerate" class="text-danger form-label mx-2 mt-1 ">Exchange_Rate:</label>
        <input type="text" class="form-control  " id="exchangerate" placeholder="Enter Exchange rate">
      </div> 

      <div class="d-flex flex-col mt-2 ml-2">
        <label for="Amount" class="form-label text-danger mx-2 mt-1 ">Amount:</label>
        <input type="text" class="form-control " id="Amount" placeholder="Enter amount">
      </div>


      <div class="d-flex flex-col mt-2">
        <label for="bankname" class="form-label text-danger mx-2 mt-1 ">Bank_Name:</label>
        <input type="text" class="form-control " id="bankname" placeholder="Bank name">
      </div>



      <div class="d-flex flex-col mt-2">
        <label for="Accno" class="form-label mx-2  text-danger">Account_No:</label>
        <input type="text" class="form-control " id="Accno" placeholder="Enter Account no">
      </div>

      <div><input type="submit" class="custombtn px-3 mt-2 ml-2" value="Request"></div>
    </div>





   



   



  </form>

   <!-- complete Transaction -->
   <div class="container-fluid ">
    <p class="mt-3 text-center"> <strong> Hold Transaction </strong></p>
    <table class="table text-white bg-danger">
      <thead>
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Exchange Rate</th>
          <th scope="col">Assigned Amount</th>
          <th scope="col">Bank</th>
          <th scope="col">Account_no</th>


        </tr>
      </thead>
      <tbody>
        <!-- fake data -->
        <tr>
          <th scope="row">1</th>
          <td>3%</td>
          <td>55,34,3434yon</td>
          <td>Himalayan bank </td>
          <td>100020000403v </td>



        </tr>



      </tbody>

    </table>
  </div>


  <!-- complete Transaction -->
  <div class="container-fluid">
    <p class="mt-3 text-center"> <strong> Complete Transaction </strong></p>
    <table class="table table text-white bg-success">
      <thead>
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Exchange Rate</th>
          <th scope="col">Assigned Amount</th>
          <th scope="col">Bank</th>


        </tr>
      </thead>
      <tbody>
        <!-- fake data -->
        <tr>
          <th scope="row">1</th>
          <td>3%</td>
          <td>55,34,3434yon</td>
          <td>Himalayan bank </td>



        </tr>



      </tbody>

    </table>
  </div>


