@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  <div class="nav bg-dark">
    <!-- Admin Name -->
    <div class="d-flex justify-content-end w-100 mr-3 mt-2 ">
      <div class="d-flex flex-col">
        <div style="width: 40px; height:40px;" class="rounded-circle bg-white"></div>
        <a href="" class="mt-2 ml-2 text-white">Admin</a>
      </div>
    </div>

    <!-- Navlink -->
    <!-- contain three transaction btn -->
    <div class=" mt-3 d-flex justify-content-lg-center justify-content-center align-item-center  w-100"
      style="height: 40px;">

      <div class="d-flex flex-col align-item-center justify-content-center size">
        <a class="ancor  w-100" href="Newtransaction">
          <div class="d-flex justify-content-center mt-2">New Transaction</div>
        </a>
        <a class="ancor w-100 " href="Agent">
          <div class="d-flex justify-content-center mt-2">Agent</div>
        </a>
        <a class="ancor act w-100" href="Currenttransaction">
          <div class="d-flex justify-content-center mt-2">Current Transaction</div>
        </a>
      </div>


    </div>

  </div>


  <!-- Body section -->
 



 
  <!-- Assigned Agent -->
<div class="container-fluid">
    <p class="mt-3 text-center"> <strong> Assigned Agent </strong></p>
    <table class="table text-white bg-danger">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone_No.</th>
            <th scope="col">Exchange Rate</th>
            <th scope="col">Assigned Amount</th>
            <th scope="col">Transaction On</th>
            
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <!-- fake data -->
          <tr>
            <th scope="row">1</th>
            <td>Niraj Thakur</td>
            
            <td>Baral45@gmail.com</td>
            <td>984522345</td>
            <td>3%</td>
            <td>55,000</td>
            <td>Nirajan thapa</td>
            <td> <input type="submit" class="custombtn px-3 mt-2 ml-2" value="Message">
             
          </tr>
          
          
  
        </tbody>
  
      </table>
</div>


