@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




     <div class=" border border-white  d-flex row " style="height:100vh; ">
    <div class=" d-sm-none d-lg-block d-none col-lg-3 background " >

    </div>
    <div class="secondary-color col-lg-9 col-sm-12 backgroundreg ">

      <h1 class="text-center text-forth-color mt-5" >Login</h1>
      <!-- Registration form -->
      <div class="w-75 d-flex justify-content-center position " style="margin-top:140px;" 
        >
        <form class="row g-3">

          <!-- Radio Button -->
          

          <!-- <div class="col-md-3  mt-3   col-sm-6">
              <label class="ml-2"> Nepal_Agent
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2 "  checked>
              </label>  
          </div>

    
          <div class="col-md-6 mt-3 col-sm-6 ">
            <label class="mr-4"> Abroad_Agent
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2"  >
            </label>
          </div> -->


          <div class="col-md-12  mt-2 ">
            <div class="d-flex flex-col">
              <label for="Name" class="form-label mx-2 mt-1 ">Name:</label>
              <input type="text" class="form-control " id="Name" placeholder="Enter your Name">
            </div>
          </div>

         
          <div class="col-md-12 mt-3">
             <div class="d-flex flex-col ">
            <label for="Password" class="mx-2 mt-1 ">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>       
          </div>

          <div class="col-12">
            <button type="submit" class="custombtn px-3 mt-2 ml-2">Login</button>
          </div>
          <a href="" class="ml-4 mt-3 "><span>Forgot password ?</span></a>

           <a href="Registration" class="ml-4 text-white ">Sign up</a>
        </form>

        
      </div>

    </div>

  </div>


