@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


   <div>
    
  <!-- Navbar sm -->
  <div class="  d-lg-none d-md-none d-sm-block d-block ">
    <div class="bg-nav d-flex ">
      <a class="py-3 left  bg-active ancor" href="index.html"> <i
          class="  mx-3  fa-solid fa-house-chimney-window  mt-1 "></i></a>
      <a class="py-3 left  ancor" href="our_service.html"> <i class="fa-solid  mx-3   fa-camera-retro  mt-1 "></i></a>
      <a class="py-3 left  ancor" href="Gallary.html"> <i class="fa-solid  mx-3  fa-handshake   mt-1 "></i></a>
      <a class="py-3 left  ancor" href="Aboutus.html"><i class="fa-solid   mx-3  fa-id-card-clip  mt-1 "></i></a>
      <a class="py-3 left  ancor" href="#"><i class="fa-solid   mx-3   fa-address-book mt-1 "></i></a>

    </div>
  </div>
  <!-- Navbar lg md -->
  <div class="flex p-0 ">
    
    <div class="p-0 bg-nav col-lg-2 col-md-3 d-lg-block d-md-block d-none position-fixed " style="height: 100vh;">

      <div class="d-flex flex-column py-5 center ">
        <!-- logo -->
        <img class="logosection mb-lg-5 mb-md-2  " src="/public/photography-logo-png-hd-free-download-2-1024x1024.png"
          width="40%" alt="" srcset="">
        <!-- Tag -->
        <a class="py-3 bg-active ancor" href="index.html">
          <div class="d-flex  position-relative "><i class="fa-solid fa-house-chimney-window px-2 mt-1 "></i>
            <p class="mt-0 mb-0 margin">Home</p>
          </div>
        </a>
        <a class="py-3  ancor" href="our_service.html">
          <div class="d-flex  position-relative "><i class="fas fa-handshake fa-solid  px-2 mt-1"></i>
            <p class="mt-0 mb-0 margin">Our Services</p>
          </div>
        </a>
        <a class="py-3  ancor" href="Gallary.html">
          <div class="d-flex  position-relative "><i class="fa-solid  fa-camera-retro px-2 mt-1 "></i>
            <p class="mt-0 mb-0 margin">Gallary</p>
          </div>
        </a>
        <a class="py-3  ancor" href="Aboutus.html">
          <div class="d-flex  position-relative "><i class="fa-solid  fa-id-card-clip px-2 mt-1 "></i>
            <p class="mt-0 mb-0 margin">About us</p>
          </div>
        </a>
        <a class="py-3  ancor" href="#">
          <div class="d-flex  position-relative "><i class="fa-solid   fa-address-book px-2 mt-1 "></i>
            <p class="mt-0 mb-0 margin">Contact us</p>
          </div>
        </a>

      </div>
    </div>

    <!-- Main section-->

    <div class="overflow-hidden">


      <!-- !0    one flex text -->

            
    <div class="row bg-body d-flex flex-row-reverse align-items-center text-center vh-100">
        <div class="col-lg-10 col-md-9 ">
            


     <div class=" border border-white  d-flex row  " style="height:100vh; ">
  <!--  <div class=" d-sm-none d-lg-block d-none col-lg-3 background bg-dark " >

    </div> -->
    <div class="secondary-color col-lg-12 col-sm-12 backgroundreg ">

      <h1 class="text-center text-forth-color mt-5" >Login</h1>
      <!-- Registration form -->
      <div class="w-75 d-flex justify-content-center position " style="margin-top:140px;" 
        >
        <form class="row g-3">

          <!-- Radio Button -->
          

          <!-- <div class="col-md-3  mt-3   col-sm-6">
              <label class="ml-2"> Nepal_Agent
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2 "  checked>
              </label>  
          </div>

    
          <div class="col-md-6 mt-3 col-sm-6 ">
            <label class="mr-4"> Abroad_Agent
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2"  >
            </label>
          </div> -->


          <div class="col-md-12  mt-2 ">
            <div class="d-flex flex-col">
              <label for="Name" class="form-label mx-2 mt-1 ">Name:</label>
              <input type="text" class="form-control " id="Name" placeholder="Enter your Name">
            </div>
          </div>

         
          <div class="col-md-12 mt-3">
             <div class="d-flex flex-col ">
            <label for="Password" class="mx-2 mt-1 ">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>       
          </div>

          <div class="col-12">
            <button type="submit" class="custombtn px-3 mt-2 ml-2">Login</button>
          </div>
          <a href="" class="ml-4 mt-3 "><span>Forgot password ?</span></a>

           <a href="Registration" class="ml-4 text-white mt-3">Sign up</a>
        </form>

        
      </div>

    </div>

  </div>


      </div>
    </div>


    
    
      <!-- <hr class="featurette-divider"> -->
 


    </div>

  </div>
    
  </div>

