
   @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


   <div>
    
  <!-- Navbar sm -->
  <div class="  d-lg-none d-md-none d-sm-block d-block bg-nav ">
      <div class="d-flex justify-content-between"> 

    <div class="d-flex ">
      <a class="py-3 left  bg-active ancor" href="index.html"> <i
          class="  mx-3  fa-solid fa-house-chimney-window  mt-1 "></i></a>
      <a class="py-3 left  ancor" href="our_service.html"> <i class="fa-solid  mx-3   fa-camera-retro  fa-handshake   mt-1 "></i></a>
     @* <a class="py-3 left  ancor" href="Gallary.html"> <i class="fa-solid  mx-3  fa-camera-retro   mt-1 "></i></a> *@
      <a class="py-3 left  ancor" href="Aboutus.html"><i class="fa-solid   mx-3  fa-id-card-clip  mt-1 "></i></a>
      <a class="py-3 left  ancor" href="#"><i class="fa-solid   mx-3   fa-address-book mt-1 "></i></a>
    </div>
    <div class="mt-3 mr-2"><a href="Login">Login</a></div>
    </div>
 
  </div>
  <!-- Navbar lg md -->
  <div class="flex w-100 p-0 ">
    
    <div class="p-0 bg-nav col-lg-2 col-md-3 d-lg-block d-md-block d-none position-fixed " style="height:100%;">
       
      <div class="d-flex flex-column justify-content-lg-around center " >
        <!-- logo -->

        
               <img class="logosection  mb-md-2 mt-3" src="https://images.pexels.com/photos/757185/pexels-photo-757185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          width="80" alt="" srcset="">
      
     
        <!-- Tag -->
        <div>
            <a class="py-3 bg-active ancor w-100" href="index.html">
              <div class="d-flex  position-relative "><i class="fa-solid fa-house-chimney-window px-2 mt-1 "></i>
                <p class="mt-0 mb-0 margin">Home</p>
              </div>
            </a>
            <a class="py-3  ancor w-100" asp-controller="BankDetails" asp-action="Index" >
              <div class="d-flex  position-relative "><i class="fas fa-handshake fa-solid  px-2 mt-1"></i>
                <p class="mt-0 mb-0 margin">BankDetails</p>
              </div>
            </a>
         
            <a class="py-3  ancor w-100" asp-controller="Transactions" asp-action="Index">
              <div class="d-flex  position-relative "><i class="fa-solid  fa-id-card-clip px-2 mt-1 "></i>
                <p class="mt-0 mb-0 margin">Transaction</p>
              </div>
            </a>
            <a class="py-3  ancor w-100" asp-controller="Messages" asp-action="Index">
              <div class="d-flex  position-relative "><i class="fa-solid   fa-address-book px-2 mt-1 "></i>
                <p class="mt-0 mb-0 margin">Message</p>
              </div>
            </a>
             <a class="py-3  ancor w-100" asp-controller="Roles" asp-action="Index">
              <div class="d-flex  position-relative "><i class="fa-solid   fa-address-book px-2 mt-1 "></i>
                <p class="mt-0 mb-0 margin">Role</p>
              </div>
            </a>
            <a class="py-3  ancor w-100" asp-controller="Users" asp-action="Index">
              <div class="d-flex  position-relative "><i class="fa-solid   fa-address-book px-2 mt-1 "></i>
                <p class="mt-0 mb-0 margin">Uers</p>
              </div>
            </a>

        </div>
        @*3rd row *@

        <div><a href="Login">Login</a>
        </div>

      </div>
    </div>

    <!-- Main section-->

   


      <!-- !0    one flex text -->

            
    <div class=" d-flex flex-row-reverse overflow-hidden  p-0  " style="height:760px; ">
        <div class="col-lg-10 col-md-9 bg-body ">
            


     <div class="  d-flex row " >
  <!--  <div class=" d-sm-none d-lg-block d-none col-lg-3 background bg-dark " >

    </div> -->
    <div class=" col-lg-12 col-sm-12 mt-2 ">

      
      <!--Registration form -->

  
      <div class=" d-flex col-sm-12 col-md-8 col-lg-6  container-fluid   ">
       
        <form class="row g-3 py-5 px-4 bg-nav shadow-lg" style="border-radius:9px;" method="post" asp-controller="Users" asp-action="Registration">
        <div class="text-center w-100 mb-5 "><h1 class=" text-forth-color" >Registration</h1></div>  

        <div class="d-flex flex-sm-row w-100">
              <div class="col-md-6  mt-3   col-sm-6 p-0">
              <label class="ml-2"> Nepal_Agent
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2 "  checked>
              </label>  
          </div>

    
          <div class="col-md-6 mt-3 col-sm-6 p-0">
            <label class="ml-2"> Abroad_Agent
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2"  >
            </label>
          </div>

        </div>
        
            


         

          <div class="col-md-12  mt-2 p-0">
            <div class="d-flex flex-col">
             @* <label for="Name" class="form-label mx-2 mt-1 ">Name:</label> *@
              <input type="text" class="form-control h-75 " id="Name" name="Name" placeholder=" Name">
            </div>
          </div>

          <div class="col-md-12  mt-3 p-0">
            <div class="d-flex flex-col">
            @*  <label for="Address" class="form-label mx-2 mt-1 ">Address:</label>*@
              <input type="text" class="form-control " id="Address" name="Address" placeholder="Address" />
            </div>
          </div>



          <div class="col-md-12  mt-3 p-0">
            <div class="d-flex flex-col">
             @* <label for="Phone" class="form-label mx-2 mt-1 ">Phone:</label> *@
              <input type="text" class="form-control " id="Phone" name="Phone" placeholder="Phone">
            </div>
          </div>

        <!-- <div class="col-md-6 mt-3 p-0">
            <div class="d-flex flex-col">
             @* <label for="phone" class="form-label mx-2 mt-1 ">Phone_1:</label>*@
              <input type="email" class="form-control " id="phone" placeholder="phone_no">
            </div>
          </div>-->
           
      <!--    <div class="col-md-5 mt-3 p-0 ml-lg-2 ml-md-2 ">
            <div class="d-flex flex-col">
            @*  <label for="phone2" class="form-label mx-2 mt-1 ">phone_2:</label>*@
              <input type="email" class="form-control " id="phone2" placeholder="Phone_no 2">
            </div>
          </div> -->

      <!--    <div class="col-md-12 mt-3 p-0">
            <div class="d-flex flex-col">
             @* <label for="inputEmail" class="form-label mx-2 mt-1 ">Email_Address:</label>*@
              <input type="email" class=" a form-control " id="inputEmail" placeholder=" Email">
            </div>
          </div> -->

        <div class="col-md-12 mt-3 p-0">
             <div class="d-flex flex-col ">
          @*  <label for="Password" class="mx-2 mt-1 ">Password:</label>*@
            <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
          </div>       
          </div> 

          <div class="col-md-12 mt-3 p-0">
            <div class="d-flex flex-col ">
          @* <label for="Password" class="mx-2 mt-1 ">Repeat_Password:</label>*@
           <input type="password" class="form-control" id="password" name="Re-Password" placeholder="Repeat_Password">
         </div>       
         </div>

       
        <div class="d-flex justify-content-between w-100 mt-3 ">
        @*     <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>

              *@

          
        </div>
         <div class="w-100" > <button type="submit" name="Submit" class="custombtn px-3 mt-2 ">Register</button></div>

          <a href="Login" class="  mt-3">Login</a>
         
        </form>

        
      </div>

    </div>

  </div>


      </div>
    </div>


    
    
      <!-- <hr class="featurette-divider"> -->
 


    </div>

  </div>
    


