@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <div class="border border-white  d-flex row " style="height:100vh; ">
    <div class=" bg-dark d-sm-none d-lg-block d-none col-lg-3 background   " >

    </div>
    <div class="secondary-color col-lg-9 col-sm-12 backgroundreg ">

      <h1 class="text-center text-forth-color mt-5">REGISTRATION</h1>
      <!-- Registration form -->
      <div class="w-75 d-flex justify-content-center position mt-5"  >
        <form class="row g-3">

          <!-- Radio Button -->
          

          <div class="col-md-3  mt-3   col-sm-6">
              <label class="ml-2"> Nepal_Agent
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2 "  checked>
              </label>  
          </div>

    
          <div class="col-md-6 mt-3 col-sm-6 ">
            <label class="mr-4"> Abroad_Agent
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" class="ml-2"  >
            </label>
          </div>


         

          <div class="col-md-12  mt-2 ">
            <div class="d-flex flex-col">
              <label for="Name" class="form-label mx-2 mt-1 ">Name:</label>
              <input type="text" class="form-control h-75 " id="Name" placeholder="Enter your Name">
            </div>
          </div>

          <div class="col-md-12  mt-3 ">
            <div class="d-flex flex-col">
              <label for="Country" class="form-label mx-2 mt-1 ">Country:</label>
              <input type="text" class="form-control " id="Country" placeholder="Enter Country Name">
            </div>
          </div>



          <div class="col-md-12  mt-3 ">
            <div class="d-flex flex-col">
              <label for="City" class="form-label mx-2 mt-1 ">City:</label>
              <input type="text" class="form-control " id="City" placeholder="Enter City Name">
            </div>
          </div>

          <div class="col-md-6 mt-3 ">
            <div class="d-flex flex-col">
              <label for="phone" class="form-label mx-2 mt-1 ">Phone_1:</label>
              <input type="email" class="form-control " id="phone" placeholder="Enter phoneno">
            </div>
          </div>

          <div class="col-md-6 mt-3 ">
            <div class="d-flex flex-col">
              <label for="phone2" class="form-label mx-2 mt-1 ">phone_2:</label>
              <input type="email" class="form-control " id="phone2" placeholder="Enter Another Phoneno">
            </div>
          </div>

          <div class="col-md-12 mt-3 ">
            <div class="d-flex flex-col">
              <label for="inputEmail" class="form-label mx-2 mt-1 ">Email_Address:</label>
              <input type="email" class=" a form-control " id="inputEmail" placeholder="Enter Email">
            </div>
          </div>

          <div class="col-md-12 mt-3">
             <div class="d-flex flex-col ">
            <label for="Password" class="mx-2 mt-1 ">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>       
          </div>

          <div class="col-md-12 mt-3">
            <div class="d-flex flex-col ">
           <label for="Password" class="mx-2 mt-1 ">Repeat_Password:</label>
           <input type="password" class="form-control" id="password" placeholder="Repeat_Password">
         </div>       
         </div>

         
          <div class="col-12">
            <button type="submit" class="custombtn px-3 mt-2 ml-2">Register</button>
          </div>

          
           <a href="Login" class="ml-4 text-white ancor ml-2 ">Already have an account .</a>
        </form>
      </div>

    </div>

  </div>
