@{
    ViewData["Title"] = "Home Page";
}
  
 
  <div style="width:100%; height:50px;" class="bg-dark d-flex justify-content-end">
     

      
<div class=" mx-3 pt-3 ">
   <a asp-controller="Bank" asp-action="Login" class="text-white ancor">Login</a>
</div>
<div class="   mx-3 pt-3 ">
   <a asp-controller="Bank" asp-action="Registration" class="text-white ancor">Signup</a>
</div>


    
      
  </div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
